.flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;

}
.head {
    text-align: center;
    color: orange;
    font-size: 32px;
}
.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}
.mid img {
    width: 100%;
    max-width: 500px;
    max-height: 600px;
}
.show {
    max-width: 400px;
    
}